*{
  margin: 0;
  font-family: Helvetica;
  box-sizing: border-box;
}
html{
  max-width: 1400px;
  display: block;
  margin: 0 auto;
}
h2{
  font-size: 1.1em;
}
ul{
  padding: 0;
  margin: 0;
}
ul li{
  list-style-type: none;
}
header, .header{
  background: aliceblue;
  display: block;
  height: 150px;
  padding: 1em;
}
header img{
  height: 100%;
}
header ul li{
  display: inline-block;
  border: 1px solid lightgray;
}
.left{
  float: left;
  width: 49.8%;
  border: 1px solid red;
  display: inline-block;
  height: 500px;
  overflow-y: scroll;
}
.right{
  float: right;
  width: 49.8%;
  border: 1px solid blue;
  display: inline-block;
  height: 500px;
  padding: 1em;
  text-align: center;
}
footer, .footer{
  background: lightyellow;
  display: block;
  clear: both;
  width: 100%;
  padding: 1em;
}
footer span{
  border-radius: 2px;
  background-color: darkgray;
  color: lightgray;
  padding: 5px;
  margin: 2px;
  display: inline-block;
}
.selected, .selected ul{
  background-color: lightyellow;
}
/*.selected:after{
  content: '';
  width: 1px;
  height: 1px;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 60px solid green;
}*/
.hide{
  display: none;
}
small{
  color: gray;
}
.meta-data, .example ul{
  float: left;
  display: inline-block;
}
.meta-data{
  float: left;
}
.example ul{
  float: right;
  width: 120px;
}
.left > ul > li{
  background: lightgray;
}
.left > ul .example{
  padding: 1em;
  border: 1px solid white;
  display: block;
}
.example:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
.example:hover{
  cursor: pointer;
}
.example ul{
  font-size: 0.9em;
  padding: 0.2em 0;
}
