*{
  margin: 0;
  font-family: Helvetica;
  box-sizing: border-box;
}
body{
  margin: 0 1em;
}
a, a:visited{
  text-decoration: none;
  font-weight: 300;
  color: gray;
}
a:hover{
  color: navy;
}
html{
  max-width: 1800px;
  display: block;
  margin: 0 auto;
}
h2{
  font-size: 1.1em;
}
ul{
  padding: 0;
  margin: 0;
}
ul li{
  list-style-type: none;
}
header, .header{
  border-bottom: 2px solid black;
  display: block;
  padding: 2em 1em 1.2em 1em;
}
header img{
  height: 150px;
  /*height: 100%;*/
}
header ul li{
  display: inline-block;
}
body:not(.mobile),
@media screen and (min-width: 1025px) {
  .small-screen-note{
    display: none;
  }
  .left{
    width: 50%;
    float: left;
    display: inline-block;
    /*height: 500px;*/
    height: calc(100% - 235px);
    overflow-y: scroll;
  }
  .example > ul{
    width: 100px;
    float: right;
    display: inline-block;
  }
  .meta-data{
    width: calc(100% - 101px);
  }
  .right{
    width: 50%;
    display: inline-block;
    /*height: 500px;*/
    min-height: 300px;
    height: calc(100% - 235px);
    padding: 1em;
    text-align: center;
    /*background: #151515;*/
  }
  .right iframe{
    width: 100%;
  }
}

@media screen and (max-width: 767px),
@media screen and (max-device-width: 767px) and (-webkit-device-pixel-ratio: 1.5),
.mobile {
  .small-screen-note{
    text-align: center;
    background: #A40019;/*darkred*/
    color: white;
    display: block;
    padding: 0.4em 0;
    width: 100%;
  }
  .left {
    width: 100%;
    background: aliceblue;
  }
  .meta-data, .example ul{
    display: block;
    width: 100%;
  }
  .right{
    display: none;
  }
}

@media only screen and (min-width : 768px) and (max-width : 1024px),
body:not(.mobile)
{
  .small-screen-note{
    display: none;
  }
  .left{
    width: 40%;
    float: left;
    display: inline-block;
    /*height: 500px;*/
    height: calc(100% - 235px);
    overflow-y: scroll;
  }
  .meta-data, .example > ul{
    display: block;
    width: 100%;
  }
  .right{
    width: 60%;
    display: inline-block;
    /*height: 500px;*/
    min-height: 300px;
    height: calc(100% - 235px);
    padding: 1em;
    text-align: center;
    /*background: #151515;*/
  }
  .right iframe{
    width: 100%;
  }
}
iframe{
  z-index: 0;
}
body > footer, footer, .footer{
  display: block;
  clear: both;
  width: 100%;
  padding: 1em;
  background: #151515;
  z-index: 10;
}
footer span{
  border-radius: 2px;
  /*background-color: darkgray;*/
  color: lightgray;
  padding: 5px;
  margin: 2px;
  display: inline-block;
}
.selected, .selected ul{
  background-color: #151515;
  color: white;
}
.hide{
  display: none;
}
small{
  color: gray;
}
.meta-data{
  display: inline-block;
  float: left;
}
.left > ul > li:not(:first-child){
  border-top: 1px solid gray;
}
.left > ul > li:hover{
  background: #ccc;
}
.left > ul .example{
  padding: 1em;
  border: 1px solid white;
  display: block;
}
.example:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
.example:hover{
  cursor: pointer;
}
.example ul{
  font-size: 0.9em;
  padding: 0.2em 0;
}


.test, .test2, .test3{
  font-size: 12px;
  color: blue;
}